/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featuresSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* This sets the gap between the feature blocks */
  padding: 40px 0; /* Adjust the padding as needed */
  background-color: #ecf0f1; /* Light grey background for the whole section */
}
