/* src/components/NewsletterSignup/styles.module.css */

.newsletterSignup {
  padding: 80px 0;
  background-color: #f3ead9ff;
  text-align: center;
  color: #242D57;
}

.inputField {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
}

.subscribeButton {
  padding: 10px 20px;
  background-color: var(--ifm-color-primary-light);
  color: #242D57;
/* 
  background-color: #4f9de2;
  color: #fff; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribeButton:hover {
  background-color: var(--ifm-color-primary-dark); /* Darker shade for active/focus states */
  color: #FFFFFF; /* Enhanced visibility */
}
